# Lists tuples and dictionaries
### Lists

In [1]:
mylist=[0,1,2,3]
mylist[0], mylist[-1]

(0, 3)

In [2]:
for x in mylist:
    print(x)

0
1
2
3

In [3]:
3 in mylist

True

In [4]:
if 3 in mylist:
    print('present')

present

In [5]:
mylist[:]

[0, 1, 2, 3]

In [9]:
mylist*2

[0, 1, 2, 3, 0, 1, 2, 3]

[0, 1, 2, 3]

In [9]:
mylist=[1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [10]:
mylist.pop()

4

In [11]:
mylist.pop(0),mylist

(1, [2, 3])

In [12]:
mylist=['a','c','b']
mylist.sort()
mylist

['a', 'b', 'c']

In [13]:
mylist=[2,1,3]
mylist.sort()
mylist

[1, 2, 3]

In [14]:
mylist.reverse()
mylist

[3, 2, 1]

### Dictionaries
colon separated key:value pairs

In [16]:
mydict={'a':1,'b':2,'c':3}
mydict

{'a': 1, 'b': 2, 'c': 3}

In [17]:
mydict['a']

1

In [18]:
mydict['d']=4
mydict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Useful operators
range, enumerate, zip : these are generators  
for loop can iterate through a generator

### range

In [19]:
list(range(4,20,4))

[4, 8, 12, 16]

### enumerate
Returns a list of touples with first item as a counter

In [20]:
list(enumerate(['a','b','c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [21]:
for x,y in enumerate(range(10)):
    print(x,y)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

### zip
Useful for indexwise combining lists. Lenth is truncated to shortest.

In [22]:
a='hello'
b=range(10)
c=range(2)
d=list(zip(a,b,c))
print(d)

[('h', 0, 0), ('e', 1, 1)]

### in

In [23]:
'a' in ['a','b','c']

True

In [24]:
'a' in 'abc'

True

In [25]:
'a' not in 'abc'

False

### min and max

In [26]:
mylist=[1,2,45,6,7,-10,9]
min(mylist)

-10

In [27]:
max(mylist)

45

In [28]:
mylist='HhelloaA'
min(mylist)

'A'

In [29]:
max(mylist)

'o'

### random : shuffle

In [30]:
from random import shuffle

mylist=[1,2,3]
shuffle(mylist)
print(mylist)

[3, 2, 1]

## list comprehensions
[ f(x) for x in range if g(x)=y ]

In [31]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]