## Useful operators
range, enumerate, zip : these are generators  
for loop can iterate through a generator

### range

In [15]:
list(range(4,20,4))

[4, 8, 12, 16]

### enumerate

Returns a list of touples with first item as a counter

In [29]:
list(enumerate(['a','b','c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [20]:
for x,y in enumerate(range(10)):
    print(x,y)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

### zip
Useful for indexwise combining lists. Lenth is truncated to shortest.

In [42]:
a='hello'
b=range(10)
c=range(2)
d=list(zip(a,b,c))
print(d)

[('h', 0, 0), ('e', 1, 1)]

### in

In [43]:
'a' in ['a','b','c']

True

In [47]:
'a' in 'abc'

True

In [48]:
'a' not in 'abc'

False

### min and max

In [50]:
mylist=[1,2,45,6,7,-10,9]
min(mylist)

-10

In [51]:
max(mylist)

45

In [57]:
mylist='HhelloaA'
min(mylist)

'A'

In [58]:
max(mylist)

'o'

### random : shuffle

In [66]:
from random import shuffle

mylist=[1,2,3]
shuffle(mylist)
print(mylist)

[3, 1, 2]

### random: randint

In [72]:
from random import randint
# returns a random integer in [a,b] including both end points.
x = randint(1,2)
print(x)

1

### input

In [78]:
x = input('Enter a string:')
y=x[::-1]
print(y)

Enter a string:123
321

## list comprehensions
[ f(x) for x in range if g(x)=y ]

In [80]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]