# Python data types  

int,  
float  
str : sequence of characters  
bool  
list : sequence of objects  
tuple: sequence of unmutable objects  
set: collection of unique objects  
dictionary: collection of key-value pairs

In [1]:
#floor division
7//4

1

# File io

In [2]:
pwd

'C:\\Users\\zuk\\OneDrive\\Documents\\fragile\\python\\sketch'

In [3]:
import os
import shutil
import send2trash

f=open('file1.txt','w+')
f.write('This is a test string')
f.close()

#print(os.getcwd())
#print(os.listdir())

path=os.getcwd()+'\\bin\\'

shutil.copy('file1.txt', path)
shutil.copy(path+'file1.txt', os.getcwd())
send2trash.send2trash('file1.txt')

In [4]:
for folder, sub_folder, files in os.walk(os.getcwd()):
    print(folder)
    for s in sub_folder:
        print(f"\t folder: {s}")
    for f in files:    
        print(f"\t file: {f}")

C:\Users\zuk\OneDrive\Documents\fragile\python\sketch
	 folder: .ipynb_checkpoints
	 folder: bin
	 file: 00 Combined.ipynb
	 file: 120 oop.ipynb
C:\Users\zuk\OneDrive\Documents\fragile\python\sketch\.ipynb_checkpoints
	 file: 00 Combined-checkpoint.ipynb
	 file: 70 loop-checkpoint.ipynb
	 file: basics-checkpoint.ipynb
	 file: built in libs-checkpoint.ipynb
	 file: built-in functions-checkpoint.ipynb
	 file: Combined-checkpoint.ipynb
	 file: file io-checkpoint.ipynb
	 file: lamda expressions-checkpoint.ipynb
	 file: lists tuples dictionaries-checkpoint.ipynb
	 file: loop-checkpoint.ipynb
	 file: methods and functions-checkpoint.ipynb
	 file: miscellaneous-checkpoint.ipynb
	 file: oop-checkpoint.ipynb
	 file: print formating-checkpoint.ipynb
	 file: strings-checkpoint.ipynb
	 file: useful operators-checkpoint.ipynb
C:\Users\zuk\OneDrive\Documents\fragile\python\sketch\bin
	 folder: innerbin
	 file: file1.txt
C:\Users\zuk\OneDrive\Documents\fragile\python\sketch\bin\innerbin

# Python Strings
Python strings are immutable.
once assigned cannot be changed.

In [5]:
mystr="0123456789a"
#length of string
len(mystr)

11

In [6]:
#String indexing - list like indexing
#Reverse indexing starts at -1
mystr[0], mystr[1], mystr[5],mystr[10], mystr[-1]

('0', '1', '5', 'a', 'a')

In [7]:
#String slicing
#[start : stop : step]
#stop index is not included.

mystr[0:-1:2]

#last character is missing

'02468'

In [8]:
#This method can include last character
mystr[::2]

'02468a'

In [9]:
#all form 2nd
print(mystr[1:])

#all upto 4th
print(mystr[:4])

#everything
print(mystr[:])

#all but last
print(mystr[:-1])

#Evrything with 2 step
print(mystr[::2])

123456789a
0123
0123456789a
0123456789
02468a

In [10]:
#Reverse a string
print(mystr[::-1])

#Reversing a slice
print(mystr[10:0:-1])

a9876543210
a987654321

In [11]:
# String concatanation (with plus operator)
start="start"
end="end"
final=start+end
print(final)
(final+" ")*3

startend

'startend startend startend '

# String methods

In [12]:
s="Hello how are you?"
print(s.upper())
print(s)
print(s.lower())

HELLO HOW ARE YOU?
Hello how are you?
hello how are you?

In [13]:
print(s.split())
print(s.split('a'))

['Hello', 'how', 'are', 'you?']
['Hello how ', 're you?']

# String formating

In [14]:
"one {} three".format('two')

'one two three'

In [15]:
two="two"
f"one {two} three"

'one two three'

# print formating

There are three ways to perform string formatting.
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*.

### Formatting with placeholders
`%s` is placeholder in print statements.  
`%()` is "string formatting operator".

In [16]:
"one %s %s four %s" %('two', 'three', 'five')

'one two three four five'

In [17]:
a,b,c='two','three','five'
"one %s %s four %s"    %(a,b,c)

'one two three four five'

### Formatting floats  
`%5.2f` here 5 represents `minimum` number of characters and 2 represents characters after decimal point 

if needed it rounds off

In [18]:
'Floating point numbers: %4.1f' %(13.96)

'Floating point numbers: 14.0'

### formatting with `.format` method

In [19]:
'one {2} {1} four {0}'.format('two', 'three', 'five')

'one five three four two'

In [20]:
'one {a} {b} four {c}'.format(a='two', b='three', c='five')

'one two three four five'

In [21]:
'one {a} {a} four {c}'.format(a='two', b='three', c='five')

'one two two four five'

### alignment

In [22]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

By default, `.format()` aligns text to the left, numbers to the right. You can pass an optional `<`,`^`, or `>` to set a left, center or right alignment:

In [23]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [24]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

In [25]:
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

This is my ten-character, two-decimal number:     13.58

## Formatted String Literals (f-strings)

Introduced in Python 3.6, have several benefits.
like outside variables can be used.

In [26]:
a='two'
f'one {a} three'

'one two three'

`!r` for string representation

In [27]:
f'one {a!r} three'

"one 'two' three"

# Lists tuples and dictionaries

### List methods
modifies original list

In [28]:
mylist=[0,1,2,3]

In [29]:
mylist[:]

[0, 1, 2, 3]

In [30]:
mylist*2

[0, 1, 2, 3, 0, 1, 2, 3]

In [31]:
mylist=[1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [32]:
mylist.pop()

4

In [33]:
mylist.pop(0)

1

In [34]:
mylist

[2, 3]

In [35]:
mylist=['a','c','b']
mylist.sort()
mylist

['a', 'b', 'c']

In [36]:
mylist=[2,1,3]
mylist.sort()
mylist

[1, 2, 3]

In [37]:
mylist.reverse()
mylist

[3, 2, 1]

### Dictionaries
colon separated key:value pairs

In [38]:
mydict={'a':1,'b':2,'c':3}
mydict

{'a': 1, 'b': 2, 'c': 3}

In [39]:
mydict['a']

1

In [40]:
mydict['d']=4
mydict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Built in libs

# datetime

In [41]:
import datetime

t=datetime.time(2,20,1,12)
t.hour, t.minute, t.second, t.microsecond

(2, 20, 1, 12)

In [42]:
today=datetime.date.today()
today, today.ctime(), today.day, today.month

(datetime.date(2020, 10, 12), 'Mon Oct 12 00:00:00 2020', 12, 10)

In [43]:
from datetime import datetime
t=datetime(2021,10,3,14,20,1,100)
print(t)
t1=t.replace(year=2020)
print(t1)

2021-10-03 14:20:01.000100
2020-10-03 14:20:01.000100

In [44]:
from datetime import date
date1=date(2021,11,3)
date2=date(2020,11,3)
diff=date1-date2

print(type(diff))
print(diff)
print(diff.days)

<class 'datetime.timedelta'>
365 days, 0:00:00
365

In [45]:
from datetime import datetime
dt1=datetime(2021,11,3,22,0)
dt2=datetime(2020,11,2,12,0)
diff=dt1-dt2
diff, diff.days, diff.seconds, diff.total_seconds()

(datetime.timedelta(days=366, seconds=36000), 366, 36000, 31658400.0)

# math

In [46]:
round(3.51)

4

In [47]:
import math

math.ceil(3.51)
math.floor(3.45)
math.pi, math.e, math.inf, math.nan

(3.141592653589793, 2.718281828459045, inf, nan)

In [48]:
math.log(100,10), math.sin(math.pi/2),

(2.0, 1.0)

In [49]:
from math import pi
math.degrees(pi/2)

90.0

In [50]:
import random
random.randint(0,100)

74

In [51]:
random.seed(101)
random.randint(0,100),random.randint(0,100),random.randint(0,100),random.randint(0,100)

(74, 24, 69, 45)

In [52]:
random.seed(101)
random.randint(0,100)

74

In [53]:
random.randint(0,100)

24

In [54]:
mylist=list(range(0,20))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [55]:
random.choice(mylist)

17

In [56]:
#Sample with replacement
random.choices(population=mylist,k=10)

[18, 9, 13, 4, 4, 5, 13, 4, 19, 1]

In [57]:
#Samapling without replacement
random.sample(population=mylist,k=10)

[6, 5, 2, 14, 11, 3, 7, 12, 18, 16]

In [58]:
random.shuffle(mylist)
mylist

[16, 14, 0, 8, 11, 17, 19, 15, 5, 9, 10, 1, 3, 4, 7, 18, 2, 6, 13, 12]

# python debugger

In [59]:
import pdb

x=[1,2,3]
y=2
z=3

#pdb.set_trace() # q to quit debugger
y+z

5

# Loop

for and while loop has an optional else block which is executed if loop terminates normally. i.e without break.

In [60]:
tofind=15
for x in range(10):
    if x==tofind:
        print("found")
        break
else:
    print("not found")

not found

In [61]:
def finder(tofind):
    for x in range(10):
        if x==tofind:
            return "found"
       
    return "not found"

In [62]:
finder(15), finder(5)

('not found', 'found')

### For loop in list

In [63]:
mylist=[1,2,3]
for l in mylist:
    print(l)

1
2
3

### For loop with tuples

In [64]:
mytup=((1,2),(2,3),(3,4))
for k in mytup:
   print(k,k[0])

(1, 2) 1
(2, 3) 2
(3, 4) 3

### Tuple unpacking

In [65]:
for a,b in mytup:
    print(a)

1
2
3

### For loop with dictionaries

In [66]:
mydict={'c':2,'b':1,'a':3}
for k in mydict:
    print(k)

c
b
a

In [67]:
for k in mydict.keys():
    print(k)

c
b
a

In [68]:
for k in mydict.values():
    print(k)

2
1
3

In [69]:
for k in mydict.items():
    print(k)

('c', 2)
('b', 1)
('a', 3)

In [70]:
for a,b in mydict.items():
    print(a,b)

c 2
b 1
a 3

In [71]:
print(list(mydict))
print(list(mydict.keys()))
print(list(mydict.values()))
print(list(mydict.items()))

print(sorted(mydict.keys()))
print(sorted(mydict.values()))

['c', 'b', 'a']
['c', 'b', 'a']
[2, 1, 3]
[('c', 2), ('b', 1), ('a', 3)]
['a', 'b', 'c']
[1, 2, 3]

## While loop

In [72]:
mystr="hello"
x=0
while mystr[x] != "l":
    print(mystr[x])
    x+=1

h
e

### Break, continue and pass
`break`: Breaks out of the current closest enclosing loop.  
`continue`: Goes to the top of the closest enclosing loop.  
`pass`: Does nothing at all. It is useful for defining nothing inside a block without breaking syntax

In [73]:
for x in range(5):
    if x == 3:
       break
       
    print(x)

0
1
2

In [74]:
for x in range(5):
    if x == 3:
       continue
       
    print(x)

0
1
2
4

In [75]:
for x in range(5):
    if x == 3:
      pass
       
    print(x)

0
1
2
3
4

# Useful operators
range, enumerate, zip : these are generators  
for loop can iterate through a generator

### range

In [76]:
list(range(4,20,4))

[4, 8, 12, 16]

### enumerate
Returns a list of touples with first item as a counter

In [77]:
list(enumerate(['a','b','c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [78]:
for x,y in enumerate(range(10)):
    print(x,y)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

### zip
Useful for indexwise combining lists. Lenth is truncated to shortest.

In [79]:
a='hello'
b=range(10)
c=range(2)
d=list(zip(a,b,c))
print(d)

[('h', 0, 0), ('e', 1, 1)]

### in

In [80]:
'a' in ['a','b','c']

True

In [81]:
'a' in 'abc'

True

In [82]:
'a' not in 'abc'

False

### min and max

In [83]:
mylist=[1,2,45,6,7,-10,9]
min(mylist)

-10

In [84]:
max(mylist)

45

In [85]:
mylist='HhelloaA'
min(mylist)

'A'

In [86]:
max(mylist)

'o'

### random : shuffle

In [87]:
from random import shuffle

mylist=[1,2,3]
shuffle(mylist)
print(mylist)

[1, 2, 3]

### random: randint

In [88]:
from random import randint
# returns a random integer in [a,b] including both end points.
x = randint(1,2)
print(x)

1

### input

In [89]:
x = input('Enter a string:')
y=x[::-1]
print(y)

Enter a string:g
g

## list comprehensions
[ f(x) for x in range if g(x)=y ]

In [90]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [91]:
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

# lamda expressions
map and filter

In [92]:
def sqr(n):
    return n**2

a=[1,2,3]
b=list(map(sqr,a))
print(b)

[1, 4, 9]

In [93]:
def check(n):
    return n%2==0
nums=range(10)
k=list(filter(check,nums))
print(k)

[0, 2, 4, 6, 8]

In [94]:
# This is valid in python
def sqr(n):return n*n
sqr(2)

4

In [95]:
# This is lambda funciton
f = lambda num : num * num
f(2)

4

In [96]:
a=[1,2,3]
b=list(map(lambda n:n*n, a))
print(b)

[1, 4, 9]

In [97]:
a=range(10)
b=list(filter(lambda n:n%2==0,a))
print(b)

[0, 2, 4, 6, 8]

In [98]:
#lambda expression for grabbing the first character of a string.
lambda s:s[0]

#lambda expressions for reversing a string
lambda s:s[::-1]

# lambda expressions for adding two numbers
lambda x,y:x+y

locals() and globals() can be used to  check environment variables.

##  `*args` and `**kwargs`

In [99]:
def fun(*args):
    print(args)

In [100]:
fun(34,56)

(34, 56)

In [101]:
def avg(*args):
    return sum(args)/len(args)

In [102]:
avg(1,2)

1.5

In [103]:
def fun(**kwargs):
    print(kwargs)

In [104]:
fun(a=3)

{'a': 3}

In [105]:
def fun(*args, **kwargs):
    print(args,kwargs)

In [106]:
# All positional arguments must appear before keyword argumaents.
fun(1,2,c=3,d=4)

(1, 2) {'c': 3, 'd': 4}

# OOP

In [107]:
class Car:
    def __init__(self):
        self.wheels=4
             
    def set_price(self, price):
        self.price=price
         
    def get_price(self):
        return self.price

class Audi(Car):
    def __init__(self,model):
        Car.__init__(self)
        self.make='Audi'
        self.model=model
        self.set_price(50)
  
    
class Toyota(Car):
    def __init__(self, model):
        Car.__init__(self)
        self.make='Tayota'
        self.model=model
        self.set_price(50)

In [108]:
car1=Audi('A3')
car2=Toyota('Fortuner')

In [109]:
car1.wheels, car1.make, car1.model, car1.get_price(), car1.set_price(40), car1.get_price()

(4, 'Audi', 'A3', 50, None, 40)

In [110]:
car2.wheels, car2.make, car2.model, car2.get_price()

(4, 'Tayota', 'Fortuner', 50)

### Special methods

In [111]:
class Car:
    def __init__(self):
        self.wheels=4
       
   
class Audi(Car):
    def __init__(self, model):
        Car.__init__(self)
        self.make='Audi'
        self.model=model
        
       
    def __str__(self):
        return f'This is {self.make} {self.model}.'
    
    def __len__(self):
        return 4
    
    def __del__(self):
        print ('Deleted')

In [112]:
car1=Audi('A3')

In [113]:
str(car1), len(car1)

('This is Audi A3.', 4)

In [114]:
del car1

Deleted